{% extends 'base.html' %}
{% block title %}Catalog Project{% endblock %}

{% block navbar %}
  
  <!-- As a heading -->
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <span class="navbar-brand mb-0 h4"><a href="/">Catalog</a></span>
      <div class="pull-right">
          <ul class="nav navbar-nav">
              <p class="navbar-text">Welcome {{USER}}</p> 
              {% if USER and USER !='Guest' %}
              <li><a href="/gdisconnect" class="btn navbar-btn btn-danger" role="button">Logout</a></li>

              {% else %}
              <li><a href="/login" class="btn btn-info" role="button">Login</a></li>
              
              {% endif %}
              
          </ul>     
      </div>
  </nav>
{% endblock %}

{% block content %}
<div class="modal-body row">
    <div class="col-md-6">
    <h3>Categories:</h3>
      <div class="list-group">
          {% for cat in categories %}
            
              <a href='/{{cat.id}}' class="list-group-item list-group-item-action active">{{cat.name}}</a>
            
              
              <br>
            {% endfor %}
          
      </div>
      {% if USER and USER !='Guest' %}
      <h3>Add Category:</h3>
      <form method="POST" action="/newCategory">
        <input class="form-control" type="text" name="name">
        <input class="form-control" type="submit" value="Add">
      </form>
      {% endif %}
    </div>

    <div class="col-md-6">
        <h3>Items Of {{category.name}}:</h3>
        <div class="list-group">
        {% for item in items %}
          
            <a href='/{{category.id}}/{{item.id}}' class="list-group-item list-group-item-action active">{{item.name}}</a>
          
            
            <br>
          {% endfor %}
        </div>
          {% if USER and USER !='Guest' %}
          <h3>Add Item:</h3>
          <form method="POST" action="/{{category.id}}/newItem">
            <input class="form-control" type="text" name="name" placeholder="item name"><br>
            <textarea name='descrption' class="form-control" rows="4" cols="50">
                item descrption 
                </textarea> <br>               
            <input type='hidden' value='{{category.id}}' name='category_id' />
            <input class="form-control" type="submit" value="Add">
          </form>
          {% endif %}
    </div>
  </div>

{% endblock %}


