{% extends 'base.html' %}
{% block title %}Catalog Project{% endblock %}

{% block navbar %}
  
  <!-- As a heading -->
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <span class="navbar-brand mb-0 h4"><a href="/">Catalog</a></span>
      <div class="pull-right">
          <ul class="nav navbar-nav">
              <p class="navbar-text">Welcome {{USER}}</p> 
              {% if USER and USER !='Guest' %}
              <li><a href="/gdisconnect" class="btn navbar-btn btn-danger" role="button">Logout</a></li>

              {% else %}
              <li><a href="/login" class="btn btn-info" role="button">Login</a></li>
              
              {% endif %}
              
          </ul>     
      </div>
  </nav>
{% endblock %}


{% block content %}
<h1>Are you sure you want to delete {{item.name}} ?</h1>
<form method="POST" action="/{{category.id}}/{{item.id}}/delete">
  <input type='hidden' value='{{item.id}}' name='id' />
  <input class="btn navbar-btn btn-danger" type="submit" value="delete">
</form>
{% endblock %}