{% extends 'base.html' %}
{% block title %}Catalog Project{% endblock %}

{% block navbar %}
  
  <!-- As a heading -->
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <span class="navbar-brand mb-0 h4"><a href="/">Catalog</a></span>
      <div class="pull-right">
          <ul class="nav navbar-nav">
              <p class="navbar-text">Welcome {{USER}}</p> 
              {% if USER and USER !='Guest' %}
              <li><a href="/gdisconnect" class="btn navbar-btn btn-danger" role="button">Logout</a></li>

              {% else %}
              <li><a href="/login" class="btn btn-info" role="button">Login</a></li>
              
              {% endif %}
              
          </ul>     
      </div>
  </nav>
{% endblock %}

{% block content %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
    <a href="/{{category.id}}">{{category.name}}</a>
    <h1  class="card-title">{{item.name}} :</h1>
      <p class="lead">{{item.descrption}}</p>
      {% if USER and USER !='Guest' %}
      <a href="/{{category.id}}/{{item.id}}/edit" class="btn btn-info" role="button">Edit</a>
      <a href="/{{category.id}}/{{item.id}}/delete" class="btn btn-danger" role="button">Delete</a>
      {% endif %}
    </div>
</div>

{% endblock %}




