<html>
    <head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
   </script>
 
 <script src="//apis.google.com/js/platform.js?onload=start"> </script>
 
 <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
 
 
    </head>
    <body>
        
        <h1>Login</h1>      

          
<div id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="732962651466-hangk3ijp6eto0r6179ji3ga715vvrs2.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>

      <div id="result"></div>

      <script>
      function signInCallback(authResult) {
        console.log(authResult);
        if (authResult['code']) {
            console.log('code reviced');
          // Hide the sign-in button now that the user is authorized
          $('#signinButton').attr('style', 'display: none');
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/hello";
               }, 4000);
                
            } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              console.log('error');
               }
            }
            
        }); }
        else{
            console.log('nothing recied');
        } }
      </script>
      
      
        <h2>Login State: {{STATE}}</h2>
    </body>
</html>
